*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:90%;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}
.col-3{
	width:25%;
	padding:0 15px;
}
.col-4{
	width:33.33%;
	padding:0 15px;
}

.col-5{
	width:41.66%;
	padding:0 15px;
}
.col-6{
	width:50%;
	padding:0 15px;
}
.col-7{
	width:58.33%;
	padding:0 15px;
}
.col-8{
	width:66.66%;
	padding:0 15px;
}
.col-9{
	width:75%;
	padding:0 15px;
}
.col-10{
	width:83.33%;
	padding:0 15px;
}
.col-11{
	width:91.66%;
	padding:0 15px;
}
.col-12{
	width:100%;
	padding:15px 15px;
}
#head{
	padding:15px 0;
}
.title h1{
	font-size:30px;
	color:#0b2341;
    font-weight:600;
}
.list{
	display:flex;
	justify-content:space-evenly;
	list-style:none;
}
.list li a{
	text-decoration:none;
	font-size:16px;
	font-weight:400;
	display:inline-black;
	padding:5px;
	color:black;
	transition:all 0.2s ease;
}
.btn a{
	display:inline-block;
	padding:8px 16px;
	background-color:orange;
	color:white;
	font-size:20px;
	border-radius:5px;
	text-decoration:none;
	text-align:end;
}
.list li a.color{
	color:orange;
}
.list li a:hover{
	color:orange;
}
.btn a:hover{
	opacity:0.8;
}

#header{
	padding:10px;
	font-family:arial;
}
.multi{
	height:85vh;
	align-items:center;
	background:linear-gradient(#00000047 , #00000047),url("image/slide-1.jpg");
	background-position:center;
	background-size:cover;
	display:flex;
}
.multi h1{
	display:flex;
	align-items:center;
	font-size:45;
	color:white;
	padding:10px;
}
#multi .p{
	color:white;
	padding:10px;
}

.btn-a a{
	text-decoration: none;
    padding: 5px 20px;
    border: 1px solid orange;
}

.head{
	position:relative;
	text-align:center;
	font-size:30px;
}

h3:after{
	content: "";
    width: 100px;
    height: 2px;
    background-color: #ffb100b3;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: 5px;
}
#About .h1{
	padding:20px;
}
.abt h3{
    padding:10px;
    position:relative;	
}


.mark2{
	box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}
h2{
	font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #164682;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.mark3{
	display:flex
}

.mark3 i{
	padding:5px;
	color:orange;
}
.align-center{
	align-items:center;
}
.style p{
	color:white;
	padding:10px;
	align-items: center;
    display: flex;
}
.end{
	text-align:end;
}
.b{
	padding:10px;
}
.mark1 p{
	padding:10px;
}
.btn-a{
	padding:10px;
}
.mark5 img{
	width:100%;
	padding-top:20px;
}
#mass{
	background-color: #f6f9fd;
}